@model IEnumerable<EducateApp.Models.Data.Group>

@{
    ViewData["Title"] = "Группы";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Группы</li>
    </ol>
</nav>
<h2>Группы</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="d-flex justify-content-between">
    <div class="p-2">
        <ul class="nav">
            <li>
                <a class="btn text-dark" asp-action="DownloadPattern" title="Скачать шаблон">
                    <i class="fas fa-file-download"></i>
                </a>
            </li>
            <li>
                <a class="btn text-dark" asp-action="Create">
                    <i class="far fa-plus-square"></i>  Добавить группу
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered text-nowrap table-sm">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountOfStudents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfAdmission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfIssue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassTeacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactsTeacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountOfStudents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfAdmission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfIssue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassTeacher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactsTeacher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialty.Code)
                    </td>
                    <td>
                        <a class="btn text-dark details" asp-action="Details" asp-route-id="@item.Id" title="Посмотреть подробнее" >
                            <i class="far fa-eye"></i>
                        </a> |
                        <a class="btn text-dark" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать">
                            <i class="fas fa-pencil-alt"></i>
                        </a> |
                        <a class="btn text-dark" asp-action="Delete" asp-route-id="@item.Id" title="Удалить">
                            <i class="far fa-minus-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
           $.ajaxSetup({ cache: false });
            $(".details").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}