@model EducateApp.Models.Data.Specialty

@{
    ViewData["Title"] = "Специальности";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр специальности
</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FormOfStudy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FormOfStudy.FormOfEdu)
        </dd>
    </dl>
</div>